@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Bold.eot");
    src: url("fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Bold.woff2") format("woff2"),
        url("fonts/Roboto-Bold.woff") format("woff"),
        url("fonts/Roboto-Bold.ttf") format("truetype"),
        url("fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.eot");
    src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Regular.woff2") format("woff2"),
        url("fonts/Roboto-Regular.woff") format("woff"),
        url("fonts/Roboto-Regular.ttf") format("truetype"),
        url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.eot");
    src: url("fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Medium.woff2") format("woff2"),
        url("fonts/Roboto-Medium.woff") format("woff"),
        url("fonts/Roboto-Medium.ttf") format("truetype"),
        url("fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.eot");
    src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Light.woff2") format("woff2"),
        url("fonts/Roboto-Light.woff") format("woff"),
        url("fonts/Roboto-Light.ttf") format("truetype"),
        url("fonts/Roboto-Light.svg#Roboto-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.eot");
    src: url("fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Raleway-Regular.woff2") format("woff2"),
        url("fonts/Raleway-Regular.woff") format("woff"),
        url("fonts/Raleway-Regular.ttf") format("truetype"),
        url("fonts/Raleway-Regular.svg#fonts/Raleway-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.eot");
    src: url("fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Raleway-Bold.woff2") format("woff2"),
        url("fonts/Raleway-Bold.woff") format("woff"),
        url("fonts/Raleway-Bold.ttf") format("truetype"),
        url("fonts/Raleway-Bold.svg#fonts/Raleway-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 5;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    /*padding: 20px 0;*/
}

h1 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 56px;
    line-height: 74px;
    font-weight: 500;
    color: #403226;
}

h2 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 40px;
    line-height: 53px;
    font-weight: 500;
    color: #403226;
}

h3 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 32px;
    line-height: 43px;
    font-weight: normal;
    color: #403226;
}

h4 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #403226;
}

h5 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
    color: #403226;
}

h6 {
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    color: #403226;
}

p {
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

li {
    list-style: none;
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

ol {
    margin: 22px 0 27px 0;
}

ol li {
    position: relative;
    padding: 2px 0 1px 24px;
}

ol li:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background: #DA001A;
    position: absolute;
    top: 7px;
    left: 0;
}

a {
    text-decoration: none;
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

button {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

p a:link,
p a:visited {
    color: #000000;
}

p a:active,
p a.active {
    color: #DA001A;
}

p a:hover {
    color: #DA001A;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #707070;
    background: rgba(218, 0, 26, 0);
}

.slick-arrow:link,
.slick-arrow:visited {
    background: rgba(218, 0, 26, 0);
    border: 1px solid #707070;
}

.slick-arrow:active,
.slick-arrow.active {
    background: rgba(218, 0, 26, 1);
    border: 1px solid #DA001A;
}

.slick-arrow:hover {
    background: rgba(218, 0, 26, 1);
    border: 1px solid #DA001A;
}

.slick-arrow:before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: .5;
    background-image: url(img/grey_arrow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-next:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-arrow:after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-image: url(img/white_arrow_2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-next:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-arrow:link:before,
.slick-arrow:visited:before {
    z-index: 2;
    opacity: 1;
}

.slick-arrow:active:before,
.slick-arrow.active:before {
    z-index: 1;
    opacity: 0;
}

.slick-arrow:hover:before {
    z-index: 1;
    opacity: 0;
}

.slick-arrow:link:after,
.slick-arrow:visited:after {
    z-index: 1;
    opacity: 0;
}

.slick-arrow:active:after,
.slick-arrow.active:after {
    z-index: 2;
    opacity: 1;
}

.slick-arrow:hover:after {
    z-index: 2;
    opacity: 1;
}

.slick-dots {

}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 4px 11px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: relative;
    background: #FFED00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-dots li:link,
.slick-dots li:visited {
    background: #FFED00;
}

.slick-dots li.slick-active {
    background: #DA001A;
}

.slick-dots li:hover {
    background: #DA001A;
}

.slick-dots li button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

.breadcrums_wrapp {
    margin: 27px 0 10px 0;
}

.breadcrums-list {

}

.breadcrums-list li {
    display: inline-block;
    vertical-align: top;
}

.breadcrums-list li:after {
    display: inline-block;
    vertical-align: top;
    content: "\2f";
    margin: 5px 0 0 4px;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    color: #DA001A;
}

.breadcrums-list li:last-child:after {
    display: none;
}

.breadcrums-list li a {
    font-size: 14px;
    line-height: 14px;
    color: #9F9D9B;
}

.breadcrums-list li a:link,
.breadcrums-list li a:visited {
    color: #9F9D9B;
}

.breadcrums-list li a:active,
.breadcrums-list li a.active {
    color: #DA001A;
}

.breadcrums-list li a:hover {
    color: #DA001A;
}

.breadcrums-list li:last-child a {
    color: #252525;
    pointer-events: none;
}

/*-- /Breadcrumbs --*/

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1170px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/*-- Icons --*/

.rus-flag {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background-image: url(img/rus_flag.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.red-arrow {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    background-image: url(img/red_arrow_right.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.red-arrow-2 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(img/red_arrow_2.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.white-arrow {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    background-image: url(img/white_arrow_right.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.grey-arrow {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(img/grey_arrow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.white-arrow-2 {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: url(img/white_arrow_2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.download {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 16px;
    background-image: url(img/download.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

/*-- /Icons --*/

/*-- Buttons --*/

.transparent-pill-red {
    display: inline-block;
    vertical-align: top;
    min-width: 240px;
    text-align: center;
    border: 1px solid #DA001A;
    margin: 20px 0;
    padding: 17px 1%;
    background: rgba(218, 0, 26, 0);
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    color: #DA001A;
}

.transparent-pill-red:link,
.transparent-pill-red:visited {
    background: rgba(218, 0, 26, 0);
    color: #DA001A;
}

.transparent-pill-red:active,
.transparent-pill-red.active {
    background: rgba(218, 0, 26, 1);
    color: #ffffff;
}

.transparent-pill-red:hover {
    background: rgba(218, 0, 26, 1);
    color: #ffffff;
}

.transparent-pill-red i {
    margin-left: 10%;
    position: relative;
    top: 5px;
    display: inline-block;
}

.transparent-pill-red i.hover_vs {
    display: none;
}

.transparent-pill-red:link i,
.transparent-pill-red:visited i {
    display: inline-block;
}

.transparent-pill-red:active i,
.transparent-pill-red.active i {
    display: none;
}

.transparent-pill-red:hover i {
    display: none;
}

.transparent-pill-red:link i.hover_vs,
.transparent-pill-red:visited i.hover_vs {
    display: none;
}

.transparent-pill-red:active i.hover_vs,
.transparent-pill-red.active i.hover_vs {
    display: inline-block;
}

.transparent-pill-red:hover i.hover_vs {
    display: inline-block;
}

.whitetr-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 180px;
    text-align: center;
    border: 1px solid #ffffff;
    margin: 20px 0;
    padding: 10px 1%;
    background: rgba(255, 255, 255, 0);
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #ffffff;
}

.whitetr-pill:link,
.whitetr-pill:visited {
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
}

.whitetr-pill:active,
.whitetr-pill.active {
    background: rgba(255, 255, 255, 1);
    color: #DA001A;
}

.whitetr-pill:hover {
    background: rgba(255, 255, 255, 1);
    color: #DA001A;
}

.whitetr-pill i {
    margin-left: 10%;
    position: relative;
    top: 5px;
    display: inline-block;
}

.whitetr-pill .white-arrow-2 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.whitetr-pill i.hover_vs {
    display: none;
}

.whitetr-pill:link i,
.whitetr-pill:visited i {
    display: inline-block;
}

.whitetr-pill:active i,
.whitetr-pill.active i {
    display: none;
}

.whitetr-pill:hover i {
    display: none;
}

.whitetr-pill:link i.hover_vs,
.whitetr-pill:visited i.hover_vs {
    display: none;
}

.whitetr-pill:active i.hover_vs,
.whitetr-pill.active i.hover_vs {
    display: inline-block;
}

.whitetr-pill:hover i.hover_vs {
    display: inline-block;
}

.greytr-pill {
    display: inline-block;
    vertical-align: top;
    min-width: 180px;
    text-align: center;
    border: 1px solid #252525;
    margin: 20px 0;
    padding: 10px 1%;
    background: rgba(218, 0, 26, 0);
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #252525;
}

.greytr-pill:link,
.greytr-pill:visited {
    border: 1px solid #252525;
    background: rgba(218, 0, 26, 0);
    color: #252525;
}

.greytr-pill:active,
.greytr-pill.active {
    border: 1px solid #DA001A;
    background: rgba(218, 0, 26, 1);
    color: #ffffff;
}

.greytr-pill:hover {
    border: 1px solid #DA001A;
    background: rgba(218, 0, 26, 1);
    color: #ffffff;
}

.greytr-pill i {
    margin-left: 10%;
    position: relative;
    top: 5px;
    display: inline-block;
}

.greytr-pill .grey-arrow,
.greytr-pill .white-arrow-2 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.greytr-pill i.hover_vs {
    display: none;
}

.greytr-pill:link i,
.greytr-pill:visited i {
    display: inline-block;
}

.greytr-pill:active i,
.greytr-pill.active i {
    display: none;
}

.greytr-pill:hover i {
    display: none;
}

.greytr-pill:link i.hover_vs,
.greytr-pill:visited i.hover_vs {
    display: none;
}

.greytr-pill:active i.hover_vs,
.greytr-pill.active i.hover_vs {
    display: inline-block;
}

.greytr-pill:hover i.hover_vs {
    display: inline-block;
}

/*-- /Buttons --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    background: #DA001A;
}

.header-site .row {

}

.header-site .col {
    padding: 14px 2% 6px 2%;
}

.header-site .col-1 {
    width: 47%;
    padding-left: 0;
}

.header-site .col-2 {
    width: 53%;
    text-align: right;
    padding-right: 0;
}

.header-site .inner-col {
    display: inline-block;
    vertical-align: top;
}

.flags_wrapp {
    margin: 0 2%;
    padding-top: 9px;
}

.logo_wrapp {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 305px;
    margin-right: 5%;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 46px;
}

.logo-big {
    display: inline-block;
    vertical-align: top;
}

.flags_wrapp i {
    margin: 5px;
}

.main-nav_wrapp {
    margin: 10px 0;
    overflow: hidden;
}

.main-nav {
    margin: 0 -20px;
}

.main-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
}

.main-nav li a {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #FFFFFF;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #FFFFFF;
}

.main-nav li a:active,
.main-nav li a.active {
    color: #FFED00;
}

.main-nav li a:hover {
    color: #FFED00;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 --*/

.section-slider + section{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.promo-slider_wrapp {
    position: relative;
    overflow: hidden;
}

.append-arrows_promo-slider {
    width: 100%;
    position: absolute;
    height: 1px;
}

.append-arrows_promo-slider .row {
    position: relative;
}

.append-arrows_promo-slider .slick-arrow {
    position: absolute;
    top: 231px;
    z-index: 2;
    cursor: pointer;
}

.append-arrows_promo-slider .slick-prev {
    left: 0;
}

.append-arrows_promo-slider .slick-next {
    right: 0;
}

.artilce_1 {
    background: #ffffff;    
    height: 500px;
    overflow: hidden;
}

.artilce_1 .row {
    font-size: 0;
    line-height: 0;
    height: 500px;
    position: relative;
    z-index: 2;
}

.artilce_1 .row:before {
    display: block;
    content: "";
    width: 258px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 58%;
    background: #DA001A;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.artilce_1 .col-1 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 9%;
}

.artilce_1 .col-1 .inner {
    display: block;
    max-width: 500px;
    margin-top: 38px;
    position: relative;
    right: -5%;
}

.artilce_1 .col-2 {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    position: relative;
}

.artilce_1 .col-2 .inner {
    position: relative;
    z-index: 2;
}

.artilce_1 .col-2 .inner img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: -4%;
}

.artilce_1 h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 300;
}

h2.red {
    color: #DA001A;
}

.artilce_1 h2.red {
    font-weight: bold;
}

.artilce_1 .transparent-pill-red {
    margin: 42px 0;
}

.append-dots_promo-slider {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.append-dots_promo-slider .inner {
    width: 50%;
    padding-left: 9%;
}

.promo_sl_dots {
    overflow: hidden;
    position: relative;
    right: -5%;
}

.promo_sl_dots .slick-dots {
    margin-left: -11px;
}

/*-- /Section 1 --*/

/*-- Section 2 --*/

.article_2 {
    position: relative;
}

.article_2:before {
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: #DA001A;
    position: absolute;
    top: 0;
    left: 0;
}

.article_2:after {
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: #252525;
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
}

.article_2.light:before {
    background: #FFED00;
}

.article_2.light:after {
    background: #FFFDFB;
}

.article_2:nth-child(even):before {
    left: unset;
    right: 0;
}

.article_2:nth-child(even):after {
    right: unset;
    left: 0;
}

.article_2 .row {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article_2 .row:before {
    display: block;
    content: "";
    width: 110px;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    top: 143px;
    left: 50%;
    margin: 0 0 0 -55px;
}

.article_2.light .row:before {
    background: #252525;
}

.article_2 .col {
    width: 50%;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.article_2:nth-child(even) .col:nth-child(odd) {
    order: 2;
}

.article_2:nth-child(even) .col:nth-child(even) {
    order: 1;
}

.article_2 .col-1 {
    padding: 15px 0 48px 0;
}

.article_2 .col-2 {
    padding: 109px 3% 0 5.5%;
}

.article_2 .col-2 .inner {
    position: relative;
    padding: 0 0 160px 0;
}

.article_2 h2 {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 100px;
    right: 10%;
    z-index: 2;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 32px;
    line-height: 43px;
    font-weight: 300;
    color: #FFFDFB;
}

.article_2.light h2 {
    color: #252525;
}

.article_2 .col-1 img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.article_2 h3 {
    padding: 20px 0 24px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

.article_2.light h3 {
    color: #252525;
}

.article_2 p {
    padding: 25px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #F2F1F0;
}

.article_2.light p {
    color: #252525;
}

.article_2 .whitetr-pill,
.article_2 .greytr-pill {
    position: absolute;
    bottom: 108px;
    left: 0;
    margin: 0;
}

.article_2:nth-child(even) .col-1 {
    padding: 53px 0 2px 0;
}

.article_2:nth-child(even) .col-2 {
    padding: 112px 5% 0 10%;
}

.article_2:nth-child(even) h2 {
    top: 93px;
    right: unset;
    left: 14%;
}

.article_2:nth-child(even) .whitetr-pill {
    left: 0;
}

.article_2_3 h2 {
    top: 57px;
    right: 6%;
}

.article_2_4 h2 {
    top: 79px;
    left: 15%;
    right: unset;
}

.article_2_5 h2 {
    top: 123px;
    left: 35%;
    right: unset;
}

.article_2_6 h2 {
    top: 117px;
    left: 29%;
    right: unset;
}

/*-- /Section 2 --*/

/*-- Section 1 - About --*/

.h_wrapp {
    margin: 28px 0 31px 0;
}

.h_wrapp h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    color: #DA001A;
}

.h_wrapp:after {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: #DA001A;
}

.photo_single {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    margin: 20px 0 59px 0;
}

.two-cols-templ {
    margin: 20px 0;
}

.two-cols-templ .col {
    width: 50%;
}

.two-cols-templ .col:nth-child(odd) {
    padding-right: 15px;
}

.two-cols-templ .col:nth-child(even) {
    padding-left: 15px;
}

.bold {
    font-weight: bold;
}

.two-cols-templ p {
    padding: 14px 0;
}

.red-h {
    display: block;
    margin-bottom: 10px;
    padding: 13px 0 3px 0;    
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #DA001A;
}

.red-h:after {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: #DA001A;
    position: relative;
    bottom: -3px;
}

.link-box {
    display: table;
    width: 100%;
    border-bottom: 1px solid #D6D4D2;
}

.link-box .col {
    display: table-cell;
    vertical-align: top;
    padding: 13px 0 11px 0;
}

.link-box .col-1 {
    width: auto;
    padding-right: 2%;
}

.link-box .col-2 {
    width: 55px;
}

.link-box p {
    padding: 0;
}

.download-link {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 20px;
    overflow: hidden;
}

/*-- /Section 1 - About --*/

/*-- Section 1 - Corn Champion --*/

.two-cols-templ.slider_templ .col:nth-child(odd) {
    padding-right: 15px;
}

.two-cols-templ.slider_templ .col:nth-child(even) {
    padding-left: 26px;
}

.good-slider_wrapp {
    /*width: 103%;*/
    margin: 20px 0 10px 0;
}

.good-slider_wrapp .slider-col-1 {
    width: 100px;
}

.good-slider_wrapp .slider-col-2 {
    width: calc(100% - 100px);
}

.good_slider_miniature_wrapp {

}

.good_slider_miniature {
    height: 506px;
}

.good_slider_miniature .slide {
    margin: 11px 0;
    cursor: pointer;
}

.good_slider_miniature .img-box {
    border: 1px solid #D9D9D9;
    width: 74px ;
    height: 74px ;
    /*position: relative;*/
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.good_slider_miniature .slide img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    opacity: .34;
    /*position: absolute;*/
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.good_slider_miniature .slide.slick-current .img-box {
    border: 1px solid #DA001A;
    overflow: hidden;
    position: relative;
}

.good_slider_miniature .slide.slick-current .img-box img {
    opacity: 1;
}

.good_slider_big_wrapp {
    border: 4px solid #DA001A;
}

.good_slider_big {

}

.good_slider_big .slide {
    width: 100%;
    height: 506px;
}

.good_slider_big .slide .img-box {
    /*position: relative;*/
    height: 506px;
    overflow: hidden;
}

.good_slider_big .slide .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table {
    display: table;
    width: 100%;
    margin: 34px 0 14px 0;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
    border-bottom: 1px solid #D9D9D9;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
    padding: 0 2%;
}

.table p {
    font-size: 14px;
    line-height: 17px;
    color: #403226;
}

.table_1 .table-row .table-cell {
    width: 9%;
}

.table_1 .table-row .table-cell:nth-child(1) {
    width: 28%;
    padding-left: 0;
}

.table_1 .table-row .table-cell:last-child {
    padding-right: 0;
}

/*-- /Section 1 - Corn Champion --*/

/*-- Section 1 - Corn Champion 2 --*/

.table_2 .table-row .table-cell {
    width: 18%;
}

.table_2 .table-row .table-cell:nth-child(1) {
    width: 28%;
    padding-left: 0;
}

.table_2 .table-row .table-cell:last-child {
    padding-right: 0;
}

/*-- /Section 1 - Corn Champion 2 --*/

/*-- Section 1 - Page --*/

.table_3 .table-row .table-cell {
    width: 20%;
}

.table_3 .table-row .table-cell:nth-child(1) {
    width: 40%;
    padding-left: 0;
}

.table_3 .table-row .table-cell:last-child {
    padding-right: 0;
}

/*-- /Section 1 - Page --*/

/*-- Section 2 - Page --*/

.thumbnails_wrapp {
    overflow: hidden;
}

.thumbnails_1 {
    margin: 30px -15px;
}

.thumb-1 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 15px;
}

.thumb-1 .img-box {
    display: block;
    height: 410px;
    overflow: hidden;
    background-color: #D9D9D9;
}

.thumb-1 .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-box {
    width: 830px;
    height: 465px;
    overflow: hidden;
    margin: 29px auto 80px auto;
}

.video-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 2 - Page --*/

 /*-- Section 1 - SUNFLOWER CHAMPION --*/

.photo_single_2 {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 30px 0;
}

 /*-- /Section 1 - SUNFLOWER CHAMPION --*/

/*-- Section 1 - SUNFLOWER CHAMPION --*/

.thumbnails_2 {
    margin: 0 -15px 44px -15px;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 15px;
}

.thumb-2 .img-box {
    display: block;
    height: 428px;
    overflow: hidden;
    background-color: #D9D9D9;
}

.thumb-2 .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- /Section 1 - SUNFLOWER CHAMPION --*/

/*-- Section 1 - Contacts --*/

.contacts-templ {
    margin: 15px 0 100px 0;
}

.contacts-templ .col {
    display: inline-block;
    vertical-align: middle;
}

.contacts-templ .col-1 {
    width: 26%;
    padding-right: 1%;
}

.contacts-templ .col-2 {
    width: 74%;
}

.contacts-templ h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #403226;
}

.contacts-table {
    margin: 20px 0;
}

.contacts-table .table-row {
    border-bottom: none;
}

.contacts-table .table-row .table-cell {
    padding: 1px 0;
}

.contacts-table .table-row .table-cell:nth-child(1) {
    width: 62px;
    padding-left: 0;
}

.contacts-table .table-row .table-cell:nth-child(2) {
    width: auto;
    padding-right: 0;
}

.contacts-table .table-cell p {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.contacts-table .table-cell p a {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.contacts-table .table-row .table-cell:nth-child(1) p {
    font-weight: normal;
}

.map-box {
    background-color: #D9D9D9;
}

#map {
    height: 432px;
}

#map a[href = "https://maps.google.com/maps?ll=55.793867,37.544591&z=15&t=m&hl=ru-RU&gl=US&mapclient=apiv3"] {
    display: none !important;
}

#map .gmnoprint {
    display: none !important;
}

#map .gm-style-cc {
    display: none !important;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - Vacansies --*/

.two-cols-templ h5 {
    padding: 15px 0 0 0;
}

.two-cols-templ p a {
    font-weight: bold;
}

.thumbnails_3 {
    margin: 9px -15px 128px -15px;
}

.thumb-3 {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 20px 15px;
}

.thumb-3 .inner {
    border: 1px solid #707070;
    padding: 28px 7% 83px 7%;
}

.thumb-3 p {
    padding: 5px 0;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #403226;
}

.thumb-3 p.small {
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

p.date {
    font-family: "Raleway", "Arial", "Verdana", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #DA001A;
}

.thumb-3 .desc {
    margin: 23px 0 0 0;
}

/*-- /Section 1 - Vacansies --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    background: #252525;
}

.footer .col {
    padding: 35px 0;
}

.footer .col-1 {
    width: 40%;
    padding-right: 2%;
}

.footer .col-2 {
    width: 60%;
    padding-left: 2%;
}

.footer .col-1-1 {
    display: inline-block;
    vertical-align: top;
    width: 118px;
    padding-top: 4px;
}

.footer .col-1-2 {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding-top: 22px;
}

.footer .logo_2 {
    display: inline-block;
    vertical-align: top;
}

.footer p {
    color: #BCBCBC;
}

.footer a {
    color: #BCBCBC;
}

.footer a:link,
.footer a:visited {
    color: #BCBCBC;
}

.footer a:active,
.footer a.active {
    color: #FFED00;
}

.footer a:hover {
    color: #FFED00;
}

.footer-nav {
    text-align: right;
    margin-right: -45px;
}

.footer-nav li {
    padding: 5px 45px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #BCBCBC;
}

.footer-nav li a:active,
.footer-nav li a.active {
    color: #FFFFFF;
}

.footer-nav li a:hover {
    color: #FFFFFF;
}

/*-- If IE --*/

.ie .article_2:before {
    width: 100%;
}

.ie .article_2 .row {
    position: relative;
    z-index: 2;
}

/*-- /If IE --*/